body {
    background-image: url("SpacePlantBlue.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
    background-position: top;
    background-color: #000000;
    color: white;
    font-family: 'Josefin Slab', serif;
}

.header p {
    font-size: 2vw;
    padding-left: 10%;
}

.menu p {
    font-size: 1vw;
}

i {
    margin: 0px;
    padding-left: 11%;
    padding-right: 5px;
}