body {
    background-image: url("SpacePlantBlue.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
    background-position: top;
    background-color: #030406;
    color: white;
    font-family: 'Josefin Slab', serif;
}

.header {
    padding-bottom: 0.5vh;
}

.header p {
    margin-bottom: 1vh;
    font-size: 4vw;
    padding-left: 10%;
    padding-bottom: 0.5vh;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

.menu p {
    font-size: 1.5vw;
}

i {
    margin: 0px;
    padding-left: 11%;
    padding-right: 5px;
}